.iz2_wrapper{id: "code2"}
  .hi_header
    .hi_header__progress-bar
      = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308"), root_path, class: "hi_header__progress-bar__logo"
    .hi_header__right
      .hi_header__right__top
        .hi_header__right__top__regiinfo2
          会員情報
        .hi_header__right__top__phone-number2
          電話番号認証
        .hi_header__right__top__address2
          住所入力
        .hi_header__right__top__cardinfo2
          支払い方法
        .hi_header__right__top__finish2
          完了
      %canvas#step2.hi_header__right__bottom{width: "478.22px", height: "78px"}

  .iz2_container
    .iz2_container__header
      会員情報入力
    .iz2_container__registration
      = form_for @user, url: step3_signup_index_path, method: :get do |f|
        .iz2_container__registration__form-group
          %label 携帯番号
          %span.iz2_container__registration__form-group--require 必須
          = f.text_field :cellphone_number, class: "iz2_container__registration__form-group--input-default", placeholder: "090-1234-5678"
          = render partial: 'user-error-messages', locals: {user: @user, column: "cellphone_number"}

        .iz2_container__next_button
          %input{:name => "after_save_callback", :type => "hidden", :value => ""}
          .iz2_container__next_button__form-group
            .iz2_g-recaptcha.iz2_signup-recaptcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
          .iz2_container__next_button__form-group
            %p.iz2_container__next_button__form-group--text
              「次へ進む」のボタンを押すことにより、
              = link_to  "利用規約", "https://www.mercari.com/jp/tos_list/"
              に同意したものとみなします
        = f.submit "SMSを送信する", class: "hi-container__wrapper__main__right__secret__content__btn", id: "submit-card-info"
  = render partial: 'footer'