%nav.hi-left-side-bar
  %ul.hi-left-side-bar__mypage-nav
    %li.hi-left-side-bar__mypage-nav__list
      マイページ
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      お知らせ
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      やることリスト
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      いいね！一覧
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      出品する
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      出品した商品 - 出品中
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      出品した商品 - 取引中
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      出品した商品 - 売却済み
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      購入した商品 - 取引中
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      購入した商品 - 過去の取引
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      ニュース一覧
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      評価一覧
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      ガイド
      = fa_icon "chevron-right"
    %li.hi-left-side-bar__mypage-nav__list
      お問い合わせ
      = fa_icon "chevron-right"
  .hi-left-side-bar__merpay
    .hi-left-side-bar__merpay__head
      メルペイ
    %ul.hi-left-side-bar__merpay__nav
      %li.hi-left-side-bar__mypage-nav__list
        残高・振込申請
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        ポイント
        = fa_icon "chevron-right"
  .hi-left-side-bar__merpay
    .hi-left-side-bar__merpay__head
      設定
    %ul.hi-left-side-bar__merpay__nav
      %li.hi-left-side-bar__mypage-nav__list
        = link_to :"プロフィール", edit_user_path(@user), class: "hi-left-side-bar__mypage-nav__list__element"
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        発送元・お届け先住所変更
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        - if current_user.card.present?
          = link_to :"支払い方法", card_path(@user), method: :get, class: "hi-left-side-bar__mypage-nav__list__element"
        - else
          = link_to :"支払い方法", new_card_path, class: "hi-left-side-bar__mypage-nav__list__element"
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        メール/パスワード
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        = link_to :"本人情報", info_user_path(@user), class: "hi-left-side-bar__mypage-nav__list__element"
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        電話番号の確認
        = fa_icon "chevron-right"
      %li.hi-left-side-bar__mypage-nav__list
        = link_to :"ログアウト", logout_user_path(@user), class: "hi-left-side-bar__mypage-nav__list__element"
        = fa_icon "chevron-right"