.hi-container
  = render 'items/header'
  .hi-container__navigation
    .hi-container__navigation__text
      - breadcrumb :profile
      = breadcrumbs pretext: "",separator: " &rsaquo; "
  .hi-container__wrapper
    .hi-container__wrapper__main
      = render 'users/left-side-bar'
      .hi-container__wrapper__main__right
        .hi-container__wrapper__main__right__head
          プロフィール
        .hi-container__wrapper__main__right__icon
          = image_tag "/member_photo_noimage_thumb.png", class: "hi-container__wrapper__main__right__icon__image", width: "60px", height: "60px"
          %input{class: "hi-container__wrapper__main__right__icon__name", value: "#{@user.nickname}"}
        .hi-container__wrapper__main__right__content
          %textarea{class: "hi-container__wrapper__main__right__content__textarea", value: "お静かに！"}
          .hi-container__wrapper__main__right__content__btn
            変更する
  = render 'items/sell_btn'
  = render 'items/footer'