.hi-container
  = render 'items/header'
  .hi-container__navigation
    .hi-container__navigation__text
      %span
        メルカリ
      = fa_icon "chevron-right", style: 'color: grey'
      %span
        マイページ
  .hi-container__wrapper
    .hi-container__wrapper__main
      %nav.hi-container__wrapper__main__left
        %ul.hi-container__wrapper__main__left__mypage-nav
          %li.hi-container__wrapper__main__left__mypage-nav__list
            マイページ
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            お知らせ
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            やることリスト
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            いいね！一覧
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            出品する
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            出品した商品 - 出品中
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            出品した商品 - 取引中
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            出品した商品 - 売却済み
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            購入した商品 - 取引中
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            購入した商品 - 過去の取引
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            ニュース一覧
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            評価一覧
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            ガイド
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__left__mypage-nav__list
            お問い合わせ
            = fa_icon "chevron-right"
        .hi-container__wrapper__main__left__merpay
          .hi-container__wrapper__main__left__merpay__head
            メルペイ
          %ul.hi-container__wrapper__main__left__merpay__nav
            %li.hi-container__wrapper__main__left__mypage-nav__list
              残高・振込申請
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              ポイント
              = fa_icon "chevron-right"
        .hi-container__wrapper__main__left__merpay
          .hi-container__wrapper__main__left__merpay__head
            設定
          %ul.hi-container__wrapper__main__left__merpay__nav
            %li.hi-container__wrapper__main__left__mypage-nav__list
              プロフィール
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              発送元・お届け先住所変更
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              支払い方法
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              メール/パスワード
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              本人情報
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              電話番号の確認
              = fa_icon "chevron-right"
            %li.hi-container__wrapper__main__left__mypage-nav__list
              ログアウト
              = fa_icon "chevron-right"
      .hi-container__wrapper__main__right
        .hi-container__wrapper__main__right__userinfo
          .hi-container__wrapper__main__right__userinfo__identity
            .hi-container__wrapper__main__right__userinfo__identity__image
              %img.hi-container__wrapper__main__right__userinfo__identity__image__icon
            %p.hi-container__wrapper__main__right__userinfo__identity__name
              千鳥の大悟
            .hi-container__wrapper__main__right__userinfo__identity__condition
              .hi-container__wrapper__main__right__userinfo__identity__condition__evaluation
                %p.hi-container__wrapper__main__right__userinfo__identity__condition__evaluation__word
                  評価
                %p.hi-container__wrapper__main__right__userinfo__identity__condition__evaluation__num
                  500
              .hi-container__wrapper__main__right__userinfo__identity__condition__exhibit
                %p.hi-container__wrapper__main__right__userinfo__identity__condition__exhibit__word
                  出品数
                %p.hi-container__wrapper__main__right__userinfo__identity__condition__exhibit__num
                  1
        .hi-container__wrapper__main__right__tab
          .hi-container__wrapper__main__right__tab__notice
            お知らせ
          .hi-container__wrapper__main__right__tab__todo
            やることリスト
        %ul.hi-container__wrapper__main__right__list
          %li.hi-container__wrapper__main__right__list__link
            .hi-container__wrapper__main__right__list__link__icon
            .hi-container__wrapper__main__right__list__link__content
              .hi-container__wrapper__main__right__list__link__content__text
                2秒後、105%還元超絶チケットの有効期限が切れます！タップして詳細を確認しましょう。
              .hi-container__wrapper__main__right__list__link__content__time
                2秒前
                = fa_icon("clock", type: :regular)
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__right__list__link
            .hi-container__wrapper__main__right__list__link__icon
            .hi-container__wrapper__main__right__list__link__content
              .hi-container__wrapper__main__right__list__link__content__text
                【意外と高く売れる!?】いらない相方がいくらで売れるかバーコードスキャンでいますぐチェック！
              .hi-container__wrapper__main__right__list__link__content__time
                15分前
                = fa_icon("clock", type: :regular)
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__right__list__link
            .hi-container__wrapper__main__right__list__link__icon
            .hi-container__wrapper__main__right__list__link__content
              .hi-container__wrapper__main__right__list__link__content__text
                メルカリから警告を受けました！
              .hi-container__wrapper__main__right__list__link__content__time
                58分前
                = fa_icon("clock", type: :regular)
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__right__list__link
            .hi-container__wrapper__main__right__list__link__icon
            .hi-container__wrapper__main__right__list__link__content
              .hi-container__wrapper__main__right__list__link__content__text
                《もうP10,000はゲットしましたか？》相方を紹介すると1人の招待につき必ずP10,000がもらえる
              .hi-container__wrapper__main__right__list__link__content__time
                1日前
                = fa_icon("clock", type: :regular)
            = fa_icon "chevron-right"
          %li.hi-container__wrapper__main__right__list__linkbtn
            .hi-container__wrapper__main__right__list__linkbtn__btn
              .hi-container__wrapper__main__right__list__linkbtn__btn__text
                一覧を見る
        .hi-container__wrapper__main__right__itemlist
          .hi-container__wrapper__main__right__itemlist__head
            購入した商品
          .hi-container__wrapper__main__right__itemlist__tab
            .hi-container__wrapper__main__right__itemlist__tab__now
              取引中
            .hi-container__wrapper__main__right__itemlist__tab__past
              過去の取引
          .hi-container__wrapper__main__right__itemlist__box
            取引中の商品がありません
            .hi-container__wrapper__main__right__itemlist__box__image
  = render 'items/sell_btn'
  = render 'items/footer'