.hi-container
  = render 'items/header'
  .hi-container__navigation
    .hi-container__navigation__text
      - breadcrumb :logout
      = breadcrumbs pretext: "",separator: " &rsaquo; "
  .hi-container__wrapper
    .hi-container__wrapper__main
      = render 'users/left-side-bar'
      .hi-container__wrapper__main__right
        .hi-container__wrapper__main__content
          .hi-container__wrapper__main__content__logout-btn
            = link_to "ログアウト", destroy_user_session_path
  = render 'items/footer'