.m-footerall
  %a1side.app-banner
    %figure1
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg",class: "m-app__back", width: "1000"
    .m-app
      .m-app__left
        %h2.m-app__left__1 スマホでかんたんフリマアプリ
        %p.m-app__left__2 今すぐ無料ダウンロード！
        .m-app__left__icon.clearfix
          %figure1
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?872667783",class: "m-app__left__icon__1", width: "68"
          %ul.m-app__left__icon__smart
            %li.m-app__left__icon__smart__1
              %a1{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?872667783", size: "133x40"
                
            %li.m-app__left__icon__smart__1
              %a1{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?872667783", size: "133x40"
      %figure1
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?872667783",class: "m-app__right", width: "280"
       
  %footer.global-footer
    %nav.m-foot
      .m-foot__cell
        %h2.m-foot__cell__head メルカリについて
        %ul.m-foot__font
          %li
            %a1{href: "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a1{href: "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a1{href: "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a1{href: "https://jp-news.mercari.com/", target: "_blank"} 公式ブログ
          %li
            %a1{href: "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li.m-footer-social-link
            %a1{href: "https://twitter.com/mercari_jp", target: "_blank"}
              %i.fab.fa-twitter
                
          %li.m-footer-social-link
            %a1{href: "https://www.facebook.com/mercarijp", target: "_blank"}
              %i.fab.fa-facebook-square
                

      .m-foot__cell
        %h2.m-foot__cell__head ヘルプ＆ガイド
        %ul.m-foot__font
          %li
            %a1{href: "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a1{href: "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a1{href: "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a1{href: "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a1{href: "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a1{href: "https://www.mercari.com/jp/safe/description/", target: "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a1{href: "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a1{href: "https://www.mercari.com/jp/box/"} メルカリボックス
      .m-foot__cell.m-full-width
        %h2.m-foot__cell__head プライバシーと利用規約
        .m-foot__cell__cell
          %ul.m-foot__font
            %li
              %a1{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a1{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a1{href: "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a1{href: "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .m-foot__cell__cell
          %ul.m-foot__font
            %li
              %a1{href: "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a1{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a1{href: "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a1{href: "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
      .m-foot__cell.footer-nav-lang
        %h2.m-foot__cell__head 国
        %ul.m-foot__font
          %li
            %a1.active{href: "https://www.mercari.com/jp/"} 日本
          %li
            %a1{href: "https://www.mercari.com/"} United States
    .m-bottom
      %a1.m-bottom__logo{href: "https://www.mercari.com/jp/"}
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?872667783",alt: "mercari", width: "124"
        
      %span.m-bottom__copyright
        %small © 2019 Mercari

  