.hi_wrapper
  .hi_wrapper__head
    %img{class: "hi_wrapper__head__img", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1383403936"}
      %a{href: "https://www.mercari.com/jp/"}
  .hi_wrapper__body
    .hi_wrapper__body__title
      購入内容の確認
    .hi_wrapper__body__item
      .hi_wrapper__body__item__top
        %img{class: "hi_wrapper__body__item__top__img", src: "#{@image.first.image}"}
        .hi_wrapper__body__item__top__text
          = @item.name
      .hi_wrapper__body__item__pay
        .hi_wrapper__body__item__pay__yen
          = "¥ #{@item.price.to_s(:delimited)}"
        .hi_wrapper__body__item__pay__payee
          送料込み
      .hi_wrapper__body__item__point
        .hi_wrapper__body__item__point__btn
          ポイントを使う
        = fa_icon "chevron-down"
      .hi_wrapper__body__item__price
        .hi_wrapper__body__item__price__left
          支払い金額
        .hi_wrapper__body__item__price__right
          = "¥ #{@item.price.to_s(:delimited)}"
        = link_to pay_item_path(@item.id), method: :post, class: "hi_wrapper__body__item__buybtn" do
          .hi_wrapper__body__item__buybtn__btn
            購入する
    .hi_wrapper__body__shipping-address
      .hi_wrapper__body__shipping-address__inner
        .hi_wrapper__body__shipping-address__inner__top
          配送先
        .hi_wrapper__body__shipping-address__inner__middle
          = "〒#{@address.postal_code}"
          %br
          = "#{@address.prefecture}#{@address.city}#{@address.address}"
          %br
          = "#{@user.name_family} #{@user.name_first}"
        .hi_wrapper__body__shipping-address__inner__bottom
          変更する
          = fa_icon "chevron-right"
    .hi_wrapper__body__payment
      .hi_wrapper__body__payment__inner
        .hi_wrapper__body__payment__inner__title
          支払い方法
        .hi_wrapper__body__payment__inner__num
          = "***********" + @cards.last4
          %br
            = "#{@cards.exp_month}/#{@cards.exp_year-2000}"
        - if @cards.brand == "Visa"
          %img{class: "visa", src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2561606804"}
        - elsif @cards.brand == "JCB"
          %img{class: "jcb", src: "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2687693852"}
        - elsif @cards.brand == "American Express"
          %img{class: "americanexpress", src: "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2561606804"}
        - elsif @cards.brand == "MasterCard"
          %img{class: "mastercard", src: "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2561606804"}
        - else @cards.brand == "Diner's Club"
          %img{class: "dinersclub", src: "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2561606804"}
        .hi_wrapper__body__payment__inner__bottom
          変更する
          = fa_icon "chevron-right"
  .hi_wrapper__foot
    .hi_wrapper__foot__rule
      %p.hi_wrapper__foot__rule__left
        プライバシーポリシー
      %p.hi_wrapper__foot__rule__center
        メルカリ利用規約
      %p.hi_wrapper__foot__rule__right
        特定商取引に関する表記
    .hi_wrapper__foot__mark
      %img{class: "hi_wrapper__foot__mark__img", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2687693852"}
    .hi_wrapper__foot__mercari
      ©︎2019 Mercari