.hi-container
  = render 'items/header'
  .hi-container__content
    .hi-container__content__position
      .hi-container__content__position__item
        .hi-container__content__position__item__name
          = @item.name
        .hi-container__content__position__item__detail
          .hi-container__content__position__item__detail__photo
            -# JSで選択した写真を表示させるコマンドを打ち込む必要あり
            .hi-container__content__position__item__detail__photo__top
              %img{height: "100%", src: "#{@image.first.image}", class: "top-big-photo"}
              - if @item.buyer_id != 0 || @item.buyer_id.blank?
                .sold-triangle
                .sold-triangle-text
                  SOLD
            .hi-container__content__position__item__detail__photo__bottom
              .hi-container__content__position__item__detail__photo__bottom__size
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
              .hi-container__content__position__item__detail__photo__bottom__size
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
                %li.hi-container__content__position__item__detail__photo__bottom__size__mini
                  %img{height: "100%", src: "https://www.sponichi.co.jp/entertainment/news/2019/04/23/jpeg/20190423s00041000168000p_view.jpg"}
          %table.hi-container__content__position__item__detail__matrix
            %tr
              %th
                出品者
              %td
                = link_to "#{@nickname}", edit_user_path, class: "edit_user"
                .hi-container__content__position__item__detail__matrix__evaliation
                  .hi-container__content__position__item__detail__matrix__evaliation__good
                    = fa_icon "smile-beam"
                    .hi-container__content__position__item__detail__matrix__evaliation__good__num
                      0
                  .hi-container__content__position__item__detail__matrix__evaliation__normal
                    = fa_icon "meh"
                    .hi-container__content__position__item__detail__matrix__evaliation__good__num
                      0
                  .hi-container__content__position__item__detail__matrix__evaliation__bad
                    = fa_icon "tired"
                    .hi-container__content__position__item__detail__matrix__evaliation__good__num
                      0
            - if @category.parent.parent.name.present?
              %tr
                %th
                  カテゴリ
                %td.category_ancestory
                  = @category.parent.parent.name
                  %br
                  = fa_icon "chevron-right"
                  = @category.parent.name
                  %br
                  = fa_icon "chevron-right"
                  = @category.name
            - elsif @category.parent.name.present?
              %tr
                %th
                  カテゴリ
                %td.category_ancestory
                  = @category.parent.name
                  %br
                  = fa_icon "chevron-right"
                  = @category.name
            - else
            - if @item.brand.present?
              %tr
                %th
                  ブランド
                %td
                  = @item.brand
            - if @item.size.present?
              %tr
                %th
                  サイズ
                %td
                  = @item.size
            %tr
              %th
                商品の状態
              %td
                = @item.condition
            %tr
              %th
                配送料の負担
              %td
                = @delivery.pay_for_shipping
            %tr
              %th
                配送の方法
              %td
                らくらくメルカリ便
            %tr
              %th
                配送元地域
              %td
                = @delivery.delivery_from
            %tr
              %th
                発送日の目安
              %td
                = @delivery.due_time_day
        .hi-container__content__position__item__price
          .hi-container__content__position__item__price__num
            = "¥ #{@item.price.to_s(:delimited)}"
          .hi-container__content__position__item__price__tax
            （税込）
          .hi-container__content__position__item__price__shipping-fee
            = @delivery.pay_for_shipping
        - if @can_purchase == true
          = link_to "/items/purchase/#{@item.id}", class: "hi-container__content__position__item__buybtn" do
            .hi-container__content__position__item__buybtn__text
              購入画面に進む
        - elsif @can_purchase == false
          .hi-container__content__position__item__soldbtn
            .hi-container__content__position__item__soldbtn__text
              売り切れました
        .hi-container__content__position__item__explanation
          .hi-container__content__position__item__explanation__inner
            = @item.descript
        - if @item.seller_id != current_user.id
          .hi-container__content__position__item__smallbtns
            .hi-container__content__position__item__smallbtns__left
              .hi-container__content__position__item__smallbtns__left__favo
                = fa_icon "heart",type: :regular
                %span
                  いいね
                %span
                  0
              .hi-container__content__position__item__smallbtns__left__ban
                = fa_icon "flag",type: :regular
                %span
                  不適切な商品の報告
            .hi-container__content__position__item__smallbtns__right
              = fa_icon "key"
              %span
                あんしん・あんぜんへの取り組み
      - if @item.seller_id == current_user.id
        .hi-container__content__position__btns
          .hi-container__content__position__btns__edit
            商品の編集
          .hi-container__content__position__btns__text
            or
          .hi-container__content__position__btns__stop
            出品を一旦停止する
          .hi-container__content__position__btns__delete
            この商品を削除する
      .hi-container__content__position__list
        .hi-container__content__position__list__caution
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いは退会処分となることがあります。
        %textarea.hi-container__content__position__list__textarea
        - if @item.buyer_id == 0 ||  @item.buyer_id.blank?
          %button.hi-container__content__position__list__btn
            %span
              コメントする
        - else
          %button.hi-container__content__position__list__btn
            %span
              売り切れのためコメントできません
  .hi-navigation-bottom
    .hi-navigation-bottom__text
      - breadcrumb :iteminfo, @item.name
      = breadcrumbs pretext: "",separator: " &rsaquo; "
  = render 'items/sell_btn'
  = render 'items/footer'


