.hi-container
  = render 'items/header'
  = render 'users/head-navigation'
  .hi-container__wrapper
    .hi-container__wrapper__main
      = render 'users/left-side-bar'
      .hi-container__wrapper__main__right
        .hi-container__wrapper__main__right__head
          支払い方法
        .hi-container__wrapper__main__right__content
          .hi-container__wrapper__main__right__content__title
            クレジットカード一覧
          .hi-container__wrapper__main__right__content__card-info
            %img{class: "hi-container__wrapper__main__right__content__card-info__type", src: "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2687693852"}
            .hi-container__wrapper__main__right__content__card-info__num
              ************9876
            .hi-container__wrapper__main__right__content__card-info__dead
              10/32
            .hi-container__wrapper__main__right__content__card-info__delete-btn
              .hi-container__wrapper__main__right__content__card-info__delete-btn__text
                削除する
          .hi-container__wrapper__main__right__content__bottom
            支払い方法について
            = fa_icon "chevron-right"
  = render 'items/footer'